<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xd.batch.mapper.splitPackage.test1.UserMapper">
    <resultMap id="BaseResultMap" type="com.xd.batch.entity.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,user_name,`age`,`password`
    </sql>

    <insert id="insert" parameterType="com.xd.batch.entity.User">
		insert into t_user (id,user_name,`age`,`password`)
		values(#{id,jdbcType=INTEGER},
		#{userName,jdbcType=VARCHAR},#{age,jdbcType=INTEGER},#{password,jdbcType=VARCHAR})
	</insert>
</mapper>