<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xd.batch.mapper.splitPackage.test2.StudentMapper">
    <resultMap id="BaseResultMap" type="com.xd.batch.entity.Student">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="class_num" jdbcType="VARCHAR" property="classNum"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,`name`,`age`,`class_num`
    </sql>

    <insert id = "insert" parameterType="com.xd.batch.entity.Student">
		insert into t_student (id,`name`,`age`,class_num)
		values(#{id,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR},#{age,jdbcType=INTEGER},#{classNum,jdbcType=VARCHAR})
	</insert>


</mapper>